<div class="container mt-5">
  <p style="color: green"><%= notice %></p>

  <h1>Restaurants</h1>

  <div id="restaurants">
    <% @restaurants.each do |restaurant| %>
        <h6>
          <%= link_to restaurant.name, restaurant_path(restaurant)%> 
          <%= 'â­' * restaurant.rating %>
        </h6>
        <p>
          <%= restaurant.address%>
        </p>
    <% end %>
  </div>

  <%= link_to "New restaurant", new_restaurant_path %>
</div>